* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a:link,
a:visited {
  text-decoration: none;
  white-space: nowrap; }

ul {
  list-style: none; }

img {
  display: block;
  max-width: 100%; }

html {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 1.8rem; }

p,
.navigation__link,
.footer__link {
  font-size: 1.4rem; }

.uppercase {
  text-transform: uppercase; }

.contain {
  padding: 0 18vw; }

@media only screen and (max-width: 1200px) {
  .contain {
    padding: 0 16vw; } }

@media only screen and (max-width: 1000px) {
  .contain {
    padding: 0 8vw; } }

@media only screen and (max-width: 740px) {
  .contain {
    padding: 0; } }

.bike {
  width: 25%;
  padding: 2rem;
  transition: all .2s; }
  .bike__img {
    width: 100%; }
  .bike__title {
    text-align: center; }
  .bike:hover {
    box-shadow: 3px 3px 1rem rgba(14, 12, 12, 0.6);
    transform: scale(1.05);
    cursor: pointer; }

@media only screen and (max-width: 800px) {
  .bike {
    width: 50%; } }

@media only screen and (max-width: 450px) {
  .bike {
    width: 100%; } }

.slideshow__slide {
  width: 100vw;
  height: 350px;
  object-fit: cover; }

.header {
  background-color: #0e0c0c;
  position: relative;
  z-index: 99; }
  .header__logo-box {
    height: 68px;
    margin: auto;
    width: 240px; }
  .header__logo {
    padding: 1rem 0; }

@media only screen and (max-width: 650px) {
  .header {
    transition: all .2s;
    position: sticky;
    top: 0; }
    .header__logo-box {
      height: 60px;
      width: 200px; }
    .header__logo {
      height: 60px; } }

.navigation {
  background-color: #ffff32;
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between; }
  .navigation__list {
    display: flex; }
  .navigation__link {
    display: block;
    color: #0e0c0c;
    padding: 16px 15px;
    margin: 0 5px;
    transition: all .2s; }
    .navigation__link:hover {
      background-color: #cbcb00; }

.navigation__burger--checkbox {
  display: none; }

.navigation__burger--icon {
  position: absolute;
  top: 15px;
  right: 20px;
  display: none;
  cursor: pointer; }
  .navigation__burger--icon .bar {
    height: 2px;
    width: 25px;
    background-color: #fff;
    margin: 6px 0;
    transition: all .5s; }

@media only screen and (max-width: 650px) {
  .navigation {
    position: fixed;
    top: 60px;
    z-index: 99;
    visibility: hidden;
    display: block;
    height: 0;
    transition: all .5s;
    width: 100%;
    overflow: hidden; }
    .navigation__burger--icon {
      display: inline-block; }
    .navigation__burger--checkbox:checked ~ .navigation__burger--icon .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-9px, 4px); }
    .navigation__burger--checkbox:checked ~ .navigation__burger--icon .bar:nth-child(2) {
      opacity: 0; }
    .navigation__burger--checkbox:checked ~ .navigation__burger--icon .bar:nth-child(3) {
      transform: rotate(45deg) translate(-8px, -2px); }
    .navigation__burger--checkbox:checked ~ .navigation {
      visibility: visible;
      height: 100%; }
    .navigation__list {
      display: block;
      margin-bottom: 2rem; }
    .navigation__item {
      text-align: center; } }

.footer {
  background-color: #0e0c0c;
  padding-top: 2rem; }
  .footer__copyright {
    color: #453b3b;
    text-align: center;
    padding-bottom: 1rem; }
  .footer__lists {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem; }
  .footer__list {
    text-align: center; }
  .footer__item {
    margin-top: 1em; }
  .footer__link {
    color: gray;
    padding: .34rem;
    transition: all .2s; }
    .footer__link:hover {
      color: #fff; }
  .footer__header {
    color: #ffff32;
    margin: 1rem 0; }

@media only screen and (max-width: 500px) {
  .footer__lists {
    flex-direction: column; }
  .footer__list {
    margin: 1rem; } }

.bike-showcase {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0; }

@media only screen and (max-width: 740px) {
  .bike-showcase {
    padding: 0 2rem; } }

.post-showcase {
  display: flex;
  background-color: lightgray; }
  .post-showcase__video {
    margin: 2rem 0;
    margin-right: 2rem;
    width: 50%;
    object-fit: cover; }
  .post-showcase__posts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.post {
  margin: 2rem 0; }
  .post__title {
    margin-bottom: 1rem; }

@media only screen and (max-width: 800px) {
  .post-showcase {
    flex-direction: column; }
    .post-showcase__posts {
      width: 100%; }
    .post-showcase__video {
      width: 100%; } }
