.bike {
    width: 25%;
    padding: 2rem;
    &__img {
        width: 100%;
    }
    &__title {
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .bike {
        width: 50%;
    }
}

@media only screen and (max-width: 450px) {
    .bike {
        width: 100%;
    }
}