* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

a:link,
a:visited {
    text-decoration: none;
    color: $color-black;
}

img {
    display: block;
    max-width: 100%;
}